body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    height: 100vh;
    margin: 0;
    padding-top: 50px;
    background-color: #B7D2F8;
}
.login-container {
    width: 570px;
    height: 466px;
    padding: 5px 30px;
    background-color: #3675FE;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 1);
    border-radius: 30px;
    text-align: center;
    margin-top: 20px;
}
.logo {
    width: 500px;
    height: auto;
    margin-bottom: 20px;
}
.login-container h2 {
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 50px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 400px;
    height: 30px;
    padding: 12px;
    margin: 20px 0;
    border: none;
    border-radius: 30px;
    font-size: 16px;
}
.button-container {
    display: flex;
    justify-content: center;
}
.login-container button {
    width: 166px;
    height: 39px;
    margin: 0 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.button-entrar {
    background-color: #3B3C40;
    color: white;
}
.button-entrar:hover {
    background-color: #ffffff90;
}
.button-cadastrar {
    background-color: #3B3C40;
    color: white;
}
.button-cadastrar:hover {
    background-color: #ffffff90;
}